@import url(http://fonts.googleapis.com/css?family=Oxygen);

html, body { height: 100%; 
  font-family: 'Oxygen', sans-serif;}

html { 
  /* background:  url(http://24.media.tumblr.com/7c258d771d3bd8b9857e942c4bee50a1/tumblr_n1j2wsrgnr1qcay1ao1_500.gif) no-repeat center center fixed; */
  background:  url(/samuelcroset/assets/tubes2.gif) no-repeat center center fixed;
  background-size: cover;
}

.page-header{
 color: white;
  font-family: 'Oxygen', sans-serif;
}

.page-header > h1{
  font-weight: bold;
}
